body{
  color: #40514E;
  margin:0;
  text-align: center;
  font-family: cursive;
  font-size: 200%;
}
h1{
  color:#900c3f;
  font-size: 5.625rem;
  margin-top: 50px;
  width: 40%;
  margin: 0 auto
}
h2{
  color:#900c3f;
}
h3{
  color:#fc9d9d;
}
.top-container{
  background-color: #f3e1e1;
  padding: 120px;
  position: relative;
}
.bottom-container
{
/*  background-color: #ccafaf;
  padding-bottom: 0;*/
}
.bottom-cloud
{
  position: absolute;
  left: 300px;
  top: 300px;
}
.top-cloud
{
  position: absolute;
  right: 300px;
  top:50px;
}

.btn {
  background: #fc9d9d;
  background-image: -webkit-linear-gradient(top, #fc9d9d, #ccafaf);
  background-image: -moz-linear-gradient(top, #fc9d9d, #ccafaf);
  background-image: -ms-linear-gradient(top, #fc9d9d, #ccafaf);
  background-image: -o-linear-gradient(top, #fc9d9d, #ccafaf);
  background-image: linear-gradient(to bottom, #fc9d9d, #ccafaf);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: cursive;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3c99;
  background-image: -webkit-linear-gradient(top, #fc3c99, #d9348c);
  background-image: -moz-linear-gradient(top, #fc3c99, #d9348c);
  background-image: -ms-linear-gradient(top, #fc3c99, #d9348c);
  background-image: -o-linear-gradient(top, #fc3c99, #d9348c);
  background-image: linear-gradient(to bottom, #fc3c99, #d9348c);
  text-decoration: none;
}
